.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030; /* cinza claro */
    padding: 16px 24px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .titulo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
