.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 16px 24px;
  border-radius: 8px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Novo wrapper para logo + título */
.logoTitulo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titulo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .topo {
    flex-direction: column;
    align-items: flex-start;
  }

  .logoTitulo {
    flex-direction: row;
    align-items: center;
  }

  .titulo {
    font-size: 1.5rem;
  }
}


