.logoContainer {
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 0.2px;
}
  .logo {
    display: block;
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 12px;
    transition: transform 0.5s ease;
  }
  
  .logoContainer:hover .logo {
    animation: girar 2s linear infinite;
  }
  
  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  